@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.container h1
{
  font-family:'Josefin Sans',sans-serif;
  font-size:55px;
  font-style:Italic;
}
#page-body li
{
  display: block;
}
#page-body li
{
  float: left;
}
.header
{
  width:100%;
  box-shadow:0px 2px 1px #888888;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  order:1
}
.page-wrap
{
  order:2;
}

*{box-sizing:border-box}
body
{
  display: flex;
  flex-direction: column;
}
.body_content
{
  line-height: 35px;
  font-family:'Roboto',sans-serif;
  text-align: center;
  text-justify: inter-word;
  width: 80%;
  font-size: 20px;
  letter-spacing: 0.5px;
}
