@import url('https://fonts.googleapis.com/css?family=Roboto:300');

h1
{
  font-family:'Josefin Sans',sans-serif;
  font-size:55px;
  color:#4286f4;
}
#page-body li
{
  display: block;
}
#page-body li
{
  float: left;
}
.header
{
  width:100%;
  box-shadow:0px 2px 1px #888888;
  background-color:#2d2d2d;
  order:1;
  display:block;
  position:fixed;
  z-index:999999;
}
.page-wrap
{
  order:2;
}

h1
{
  position:relative;
  margin-right:500px;
}
.head_anchors
{
  display:inline-block;
  text-decoration:none;
  padding:10px 10px 0px 10px;
  font-size:20px;
  min-height: 50px;
  color:#8eb3ed;
  font-family:'Josefin Sans', sans-serif;
  font-weight:bold;
  letter-spacing:2px;
  border-color:Transparent;
  margin:0px 0px -6px -3px;
  transition:background-color 0.3s ease-in-out;
}
.head_anchors:hover
{
  background-color:#3ca0f2;
  color:white;
}
*{box-sizing:border-box}
.dropdown-content
{
  position:absolute;
  z-index: 1;
  box-shadow: 1px 2px 2px #a0acbf;
  min-width: 230px;
  background-color: #2d2d2d;
  display: none;
}
.dropdown-link
{
  font-family: 'Josefin Sans',sans-serif;
  font-size:40px;
  text-decoration: none;
  color:#4286f4;
  padding-left: 20%;
  padding-right: 20%;
  display: block;
}

.dropdown-link:hover
{
  background-color:#5ba5ff;
  color:White;
}
.slide_content
{
  position: absolute;
  margin-top: -205px;
  margin-left: 0px;
  width:100%;
  height: 200px;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  
}
.drop_menu
{
  text-align:center;
}
.drop_menu:focus .dropdown-content
{
  display:block;
}
.drop_menu:hover .dropdown-content
{
  display: block;
}
.slide_content>p
{
  font-family: 'Josefin Sans',sans-serif;
  font-style: italic;
  color:white;
  width:100%;
  font-size:40px;
  z-index: 100px;
}
.images
{
  height:500px;
  width:1400px;
  position: relative;
  margin:auto;
}
#sign_up
{
  text-decoration: none;
  color:black;
}
#signup:hover
{
  width:100%;
  box-shadow:1px 3px 1px #3ca0f2;
  transition: box-shadow .4s ease;
  
}
body
{
  display: flex;
  flex-direction: column;
}
.more>a>i
{
  border: solid #8eb3ed;
  border-width: 0px 6px 6px 0px;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
  -webkit-transform:rotate(-135deg);
  
}
.drop_menu:hover .more>a>i
{
  animation-name:rot_ate;
  animation-duration:0.3s;
  animation-fill-mode: forwards;
  -webkit-animation-name:rot_ate;
  -webkit-animation-duration:0.1s;
  -webkit-animation-fill-mode: forwards;
  
}
.more>a>i:hover .dropdown-content
{
  display: block;
}
.body_content
{
  line-height: 35px;
  font-family:'Roboto',sans-serif;
  text-align: center;
  text-justify: inter-word;
  width: 80%;
  font-size: 20px;
  letter-spacing: 0.5px;
}
@keyframes rot_ate
{
  from{transition:rotate(0deg)}
  to{transform:rotate(45deg)}
}
@-webkit-key-frames rot_ate
{
  from{transition:rotate(0deg)}
  to{transform:rotate(45deg)}
}
.present
{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color:#3ca0f2;
  color:white;
  font-size:25px;
  font-weight:bold;
}
